.columnheaderlog {
  margin-bottom: 4px;
}
.rowvijiyarathan {
  margin-left: 82px;
  margin-right: 38px;
  display: flex;
  align-items: center;
}
.columnkontakt {
  margin-bottom: 88px;
  gap: 156px;
  align-self: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.columnvijiyarat {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.applikationsent {
  color: var(--white_a700_7f) !important;
  margin-top: 14px;
}
.lerndenderappl {
  margin-top: 34px;
  margin-bottom: 350px;
  font-family: Segoe UI !important;
  font-weight: 600 !important;
}
.vijiyarathan {
  height: 930px;
  opacity: 0.55;
  width: 42%;
  object-fit: contain;
  padding-bottom: 250px;
}
@media only screen and (max-width: 1440px) {
  .columnheaderlog {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .columnkontakt {
    gap: 117px;
  }
}
@media only screen and (max-width: 1050px) {
  .columnheaderlog {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .rowvijiyarathan {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .columnkontakt {
    align-self: stretch;
    gap: 117px;
  }
  .applikationsent {
    font-size: 36px;
  }
  .vijiyarathan {
    width: 100%;
  }
    .vijiyarathan-1
  {
    padding-top: 80px;
    margin-bottom: 0px !important;
  }
}
@media only screen and (max-width: 700px) {
  .rowvijiyarathan {
    align-items: center;
  }
  .columnkontakt {
    gap: 48px;
    margin-bottom: 32px;
  }
  .lerndenderappl {
    margin-bottom: 80px;
    font-size: 1.1rem;
  }
  .vijiyarathan {
    width: 100%;
    height: auto;
    padding-bottom: 150px;
    max-width: 350px;
  }
  .vijiyarathan-1
  {
    padding-top: 80px;
    margin-bottom: 0px !important;
  }
}
@media only screen and (max-width: 550px) {
  .columnkontakt {
    gap: 78px;
  }
  .applikationsent {
    font-size: 30px;
  }
    .vijiyarathan-1
  {
    padding-top: 80px;
    margin-bottom: 0px !important;
  }
}
